<p id="notice"><%= notice %></p>

<h1>Listing Applicants</h1>

<table>
  <thead>
    <tr>
      <th>Fname</th>
      <th>Lname</th>
      <th>Address</th>
      <th>Gender</th>
      <th>Dob</th>
      <th>Phone</th>
      <th>Married status</th>
      <th>Church</th>
      <th>Occupation</th>
      <th>Occupation status</th>
      <th>Income</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applicants.each do |applicant| %>
      <tr>
        <td><%= applicant.fname %></td>
        <td><%= applicant.lname %></td>
        <td><%= applicant.address %></td>
        <td><%= applicant.gender %></td>
        <td><%= applicant.dob %></td>
        <td><%= applicant.phone %></td>
        <td><%= applicant.married_status %></td>
        <td><%= applicant.church_id %></td>
        <td><%= applicant.occupation %></td>
        <td><%= applicant.occupation_status %></td>
        <td><%= applicant.income %></td>
        <td><%= link_to 'Show', applicant %></td>
        <td><%= link_to 'Edit', edit_applicant_path(applicant) %></td>
        <td><%= link_to 'Destroy', applicant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Applicant', new_applicant_path %>
