<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @asset.description %>
</p>

<p>
  <strong>Value:</strong>
  <%= @asset.value %>
</p>

<%= link_to 'Edit', edit_applicant_asset_path(@applicant.id, @asset.id) %> |
<%= link_to 'Back', applicant_assets_path %>
